<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>View Posts By Category</title>
</head>
<body>

	<div>
		<% if posts == [] %>
			<form action="/categories/<%= category.id %>" method="POST">
    		<input type="hidden" name="_method" value="DELETE">
    		<button>Delete Empty Category</button>
  		</form>
		<% end %>

	  <ul>
	    <% posts.each do |post| %>
	      <li>
	        <a href="/posts/<%= post.id %>"><%= post.quote %></a>
	        <h5><%= post.author %> -- <em><%= post.source %></em><br>
	        	------------------</h5>
	      </li>
	    <% end %>
	  </ul>
	</div>

	<div>
		<a href="/categories/subscribe">subscribe to this category.</a><br>

	  <h4>Vote On This Category!</h4>

	  <form action="/categories/thumbsup/<%= category.id %>" method="POST">
	    <input type="hidden" name="_method" value="PUT">
	    <button>Thumbsup</button>
	  </form>

	  <p>Thumbsup total: <%= category.upvotes %><br>
	    -------------------</p>

	 	<form action="/categories/thumbsdown/<%= category.id %>" method="POST">
	    <input type="hidden" name="_method" value="PUT">
	    <button>Thumbsdown</button>
		</form>

	  <p>Thumbsdown total: <%= category.downvotes %><br>
	  	-------------------</p>

	</div>



	<div>	
	  <form action="/categories/<%= "id" %>/posts" method="GET">
	    <p>View quotes by category.</p>
	    <select name="category_id">
	      <% categories.each do |category| %>
	        <option value="<%= category.id %>"><%= category.name %></option>
	      <% end %>
	    </select>
	    <button>Submit</button><br>
	    <h5>-------------------</h5>
	  </form>


	 	<form action="/categories/posts/new" method="GET">
	 		<p>Create a new quote from existing category.</p>
	    <select name="category_id">
	      <% categories.each do |category| %>
	        <option value="<%= category.id %>"><%= category.name %></option>
	      <% end %>
	    </select>
	    <button>Submit</button><br>
	    <h5>-------------------</h5>
	  </form>

	  <a href="/categories/new">Create New Category</a><br>

	  <a href="/">home</a>
 	</div>

</body>
</html>