<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>one post only</title>
</head>
<body>

<div>

  <h2> <%= post.quote %></h2>
  <h5><%= post.author %> -- <em><%= post.source %></em><br>
  ------------------</h5>


 	<a href="/posts/thumbup/<%= post.id %>">thumbsup</a><br>
 	<a href="/posts/subscribe">subscribe to this post.</a><br>

 	 <form action="/posts/thumbdown/<%= post.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
	 	<input type="hidden" name="id" value=<%= post.id %> /><br>
    <input type="hidden" name="author" value=<%= post.author %> /><br>
    <input type="hidden" name="source" value=<%= post.source %> /><br>
    <input type="hidden" name="posted_by" value=<%= post.posted_by %> /><br>
    <input type="hidden" name="quote" value=<%= post.quote %> /><br>
    <input type="hidden" name="expires_on" value=<%= post.expires_on %> /><br>
    <input type="hidden" name="category_id" value=<%= post.category_id %> /><br>
	 	<input type="hidden" name="upvotes" value=<%= post.upvotes %> /><br>
    <input type="hidden" name="downvotes" value=<%= post.downvotes %> /><br>
    <button>Thumbsdown</button>
	 </form>

   <p>Thumbsdown total: <%= post.downvotes %></p>



 	<form action="/posts/comment" method="POST">
	 	<input type="hidden" name="post_id" value=<%= post.id %> /><br>
 		<p>Please add your comment, if so inclined.</p>
		<textarea name="say" rows="8" cols="50" placeholder="Comment..."></textarea><br>
		<button>Submit</button>
	</form>


</div>

<div>
	<h4>Past Comments about this Quote</h4>
  <ul>
    <% comments.each do |comment| %>
      <li>
        <p><%= comment.say %><br>
        	------------------</p>
      </li>
    <% end %>
  </ul>

  <a href="/">home</a>
</div>


</body>
</html>